h1 {
    margin-bottom: 15px;
}

section {
    border: 1px solid black;
    margin-bottom: 15px;
}

/********** Large devices only **********/
@media (min-width: 992px) {

}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Small devices only **********/
@media (max-width: 767px) {

}