* {
    box-sizing: border-box;
}

body {
    background-image: url("images/restaurant-food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav.navbar.navbar-default {
    vertical-align: middle;
}
/*nav.navbar.navbar-default {
    position: fixed;
    top: 0px;
    padding: 0px;
   !* text-align: left;*!
    vertical-align: middle;
    width: 100%;
    border-radius: 0%;
    z-index: 1000;
}*/

.dropdown-menu {
    width: 100%;
    border-radius: 0px;
    margin-top: 50px
/*    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;*/
}

.page-header {
    margin-top: 60px;
}

h1 {
    margin-bottom: 15px;
    margin-top: 60px;
    text-align: center;
    font-weight: bolder;
    font-family: "Julius Sans One", Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-shadow: 3px 3px #484848;
    font-size: 1.75em;
}

.section_title {
    background-color: #ff9b3e;
    text-align: center;
    font-size: 1.25em;
    font-family: "Julius Sans One", Arial, sans-serif;
    font-weight: bold;
    width: 150px;
    float: right;
    position: relative;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    top: 0px;
    right: 0px;
}

#title1 {
    background-color: rgba(178, 139, 30, 0.9);
}
#title2 {
    background-color: rgba(178, 76, 29, 0.9);
}
#title3 {
    background-color: rgba(210, 177, 12, 0.9);
}

article {
    position: relative;
    background: antiquewhite;
    border: 1px solid black;
    opacity: 0.8;
    margin: 10px;
}

.content {
    margin-top: 40px;
    font-family: "Segoe UI",Arial,sans-serif;
}
